<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="A bot that will extract the data from the the twitter and display the whole information like followers, following, likes and retweets. It displays all the tweets from your timeline." />
        <title>FlaskTweepy</title>
        <meta name="keywords" content="chaudharypraveen98,Praveen Chaudhary,devilunknown, Praveen Chaudhary projects, FlaskTweepy">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="revisit-after" content="2 days">
        <meta name="author" content="@chaudharypraveen98">
        <meta name="twitter:title" content="Praveen Chaudhary">
        <meta name="twitter:description" content=" Personal Projects Section">
        <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/1366311960468332546/EidYygUt_400x400.jpg">
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:title" content="Praveen Chaudhary - a Full Stack Developer" />
        <meta property="og:url" content="https://www.linkedin.com/in/chaudharypraveen98/" />
        <meta property="og:description" content="This is the personal portfolio page which contains all the projects. I am a Full Stack Developer, Rest Api Developer, Data Analsyt" />
        <meta property="og:image" content="https://media-exp1.licdn.com/dms/image/C5603AQHRamUaMrdA9g/profile-displayphoto-shrink_400_400/0/1597315489941?e=1629936000&v=beta&t=GjvQu_r0n3F2EtGkaRYSF6pH8vRdgx5lsD1-w8dc8gY" />
        <meta property="og:type" content="Portfolio.Projects" />
        <link rel="shortcut icon" href="./../favicon.ico" type="image/x-icon">
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="index.html">FlaskTweepy</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="https://chaudharypraveen98.github.io/about.html">About</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="https://chaudharypraveen98.github.io/project-preview/">Latest Works</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="https://chaudharypraveen98.github.io/contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/post-bg.webp')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>FlaskTweepy</h1>
                            <h2 class="subheading">A bot that will extract the data from the the twitter and display the whole information like followers, following, likes and retweets. It displays all the tweets from your timeline.</h2>
                            <span class="meta">
                                Posted by
                                <a href="https://github.com/chaudharypraveen98">Praveen Chaudhary</a>
                                on 16 January 2021
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h3>Topics -> flask, python, tweepy, scraping, webdevelopment, bot, twitter,api</h3>
                        <h5>Preview Link -> <u><a href="https://raw.githubusercontent.com/chaudharypraveen98/FlaskTweepy/master/tweet_list.JPG">FlaskTweepy</a></u></h5>
                        <h5>Source Code Link -> <u><a href="https://github.com/chaudharypraveen98/FlaskTweepy">GitHub</a></u></h5>
                        <p><strong>What We are going to do?</strong></p>
                        <ol>
                            <li>Initializing the flask api.</li>
                            <li>Getting user info and tweets from Tweepy library</li>
                            <li>Rendering on frontend</li>
                        </ol>

                        <p><strong>What is Flask framework?</strong></p>
                        <p>Flask is a micro web framework written in Python. It is classified as a microframework because it does not require particular tools or libraries. It has no database abstraction layer, form validation, or any other components where pre-existing third-party libraries provide common functions.</p>

                        <p><b>How to install required libraries?</b></p>
                        <pre>
pip install tweepy
pip install Flask
                        </pre>

                        <h2 class="section-heading">Step 1 -> Initializing the flask api</h2>
                        <p>Once Flask and Tweepy are installed then we need to import and intialize the flask app</p>
                        <pre>
import tweepy
from flask import Flask, render_template

app = Flask(__name__)

                        </pre>
                        

                        <h2 class="section-heading">Step 2 -> Getting user info and tweets from Tweepy library</h2>
                        <p>First get the twitter api keys from <a href="https://developer.twitter.com/en/docs/twitter-api">Twitter developer account.</a></p>
                        <p>Once we got the keys and other credentials, we are ready to go.</p>
                        <p><strong>Variables Initialization</strong></p>
                        <p><b>Note : - Please enter your details.</b></p>
                        <pre>
consumer_id = ""
consumer_key = ""
callback_uri = "oob"
ACCESS_TOKEN = ""
ACCESS_TOKEN_SECRET = ""
auth = tweepy.OAuthHandler(consumer_id, consumer_key, callback_uri)
auth.set_access_token(ACCESS_TOKEN, ACCESS_TOKEN_SECRET)
api = tweepy.API(auth)
                        </pre>
                        <p>Here we declare the twitter client using OAuthHandler.</p>

                        <p><strong>Defining profile route and handler</strong></p>
                        <pre>
@app.route('/user/')
def username_tweets():
    me = api.me().screen_name
    return render_template('user.html', user=me)
                        </pre>

                        <p><tt>render_template</tt> takes two argument that takes template name and data to pass to jinja templating engine / frontend </p>


                        <p><strong>Defining tweets route and handler</strong></p>
                        <p>It will get the user tweets from the user timeline.</p>
                        <pre>
@app.route('/tweets/')
def get_tweets():
    my_timeline = api.home_timeline()
    twitter_data = []
    col_header = set()
    allowed_types = [int, str]
    for status in my_timeline:
        status_dict = dict(vars(status))
        status_key = status_dict.keys()
        single_tweet_data = {"user": status.user.screen_name, "author": status.author.screen_name}
        for k in status_key:
            v_type = type(status_dict[k])
            if v_type in allowed_types:
                single_tweet_data[k] = status_dict[k]
                col_header.add(k)
        twitter_data.append(single_tweet_data)
    return render_template('tweets.html', tweets=twitter_data)
                        </pre>


                        <h2 class="section-heading">Step 3 -> Rendering on frontend</h2>
                        <p><b>Base template</b></p>
                        <p>Every webpage has some common similarities like navbar, footer , and banner. So we have created a base template.</p>
                        <pre>                           
&lt;!DOCTYPE html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;meta charset="UTF-8"&gt;
    &lt;title&gt;Home&lt;/title&gt;
    &lt;link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/home.css') }}"&gt;
    {% block css %} }}{% endblock %}
&lt;/head&gt;
&lt;body&gt;
{% block body %}
{% endblock %}

&lt;/body&gt;
&lt;/html&gt;
                        </pre>
                        
                        <p><b>Tweets template</b></p>
                        <pre>
{% extends 'base.html' %}
{% block css %}
&lt;link rel="stylesheet" href="{{ url_for('static',filename='css/tweets.css') }}"&gt;{% endblock %}
{% block body %}
    &lt;h1&gt;Tweets List&lt;/h1&gt;
    &lt;div class="tbl-header"&gt;
        &lt;table class="product"&gt;
            &lt;thead class="tbl-header"&gt;
            &lt;tr&gt;
                &lt;th&gt;URL&lt;/th&gt;
                &lt;th&gt;ID&lt;/th&gt;
                &lt;th&gt;Text&lt;/th&gt;
                &lt;th&gt;Retweet Count&lt;/th&gt;
            &lt;/tr&gt;
            &lt;/thead&gt;
        &lt;/table&gt;
    &lt;/div&gt;
    &lt;div class="tbl-content"&gt;
        &lt;table id="product-table-body"&gt;
            &lt;tbody&gt;
            {% for tweet in tweets %}
                &lt;tr class="product-row"&gt;
                    &lt;td&gt;
                        &lt;a class="product-title" href="{{ tweet.source_url }}"&gt;{{ tweet.source_url }}&lt;/a&gt;
                    &lt;/td&gt;
                    &lt;td&gt;{{ tweet.id }}&lt;/td&gt;
                    &lt;td&gt;{{ tweet.text }}&lt;/td&gt;
                    &lt;td&gt;{{ tweet.retweet_count }}&lt;/td&gt;
                &lt;/tr&gt;
            {% endfor %}
            &lt;/tbody&gt;
        &lt;/table&gt;
    &lt;/div&gt;

{% endblock %}
                        </pre>
                        <p>We have made a table and used a jinja loop to get the data from the tweets queryset.</p>

                        <p><b>User Info Template</b></p>
                        <pre>
{% extends 'base.html' %}
{% block css %}
    &lt;link rel="stylesheet" href="{{ url_for('static',filename='css/user.css') }}"&gt;
{% endblock %}
{% block body %}
    &lt;div class="head"&gt;
        &lt;h1&gt;Welcome {{ user }}&lt;/h1&gt;
        &lt;a&gt; href="{{ url_for('get_tweets') }}" class="btn-hover color-7 next-btn"&gt;Click Here To view Tweets&lt;/a&gt;
        &lt;h3&gt; Flask Starter Pack modified With Tweepy&lt;/h3&gt;
    &lt;/div&gt;
{% endblock %}
                        </pre>
                        <p><strong>You can add styles to make it attractive.</strong></p>
                        
                        <h2 class="section-heading">How to run our server :-</h2>
                        <ol>
                            <li>First of all, install all the dependencies by `python3 install -r requirements.txt` in the cmd.</li>
                            <li>Then run the following commands to run the server : - 
                                <code>flask run</code></li>
                        </ol>

                        <h2 class="section-heading">Deployment</h2>
                        <p>You can easily deploy on <a href="https://www.heroku.com/">Heroku</a></p>
                        <p>You can read more about on <a href="https://www.geeksforgeeks.org/deploy-python-flask-app-on-heroku/">GeeksForGeeks Blog</a></p>

                        <p></p>
                        <pre></pre>
                        <h2 class="section-heading">Web Preview / Output</h2>
                        <a href="https://raw.githubusercontent.com/chaudharypraveen98/FlaskTweepy/master/tweet_list.JPG"><img class="img-fluid" src="https://raw.githubusercontent.com/chaudharypraveen98/FlaskTweepy/master/tweet_list.JPG" alt="web preview" /></a>
                        <span class="caption text-muted">Web preview on deployment</span>
                        <p>
                            Placeholder text by
                            <a href="https://chaudharypraveen98.github.io/">Praveen Chaudhary</a>
                            &middot; Images by
                            <a href="hhttps://chaudharypraveen98.github.io/binarybeast/">Binary Beast</a>
                        </p>
                    </div>
                </div>
            </div>
        </article>
        <!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="https://twitter.com/chaudhpraveen98">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/chaudharypraveen98/">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/chaudharypraveen98">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; Praveen Chaudhary 2021</div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
