<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="A parking solution built on Django with the google APIs such as JavaScript map API ,distance and places API." />
        <title>Parco - a complete parking solution</title>
        <meta name="keywords" content="chaudharypraveen98,Praveen Chaudhary,devilunknown, Praveen Chaudhary projects, Parco">
        <meta name="robots" content="index, follow">
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="language" content="English">
        <meta name="revisit-after" content="2 days">
        <meta name="author" content="@chaudharypraveen98">
        <meta name="twitter:title" content="Praveen Chaudhary">
        <meta name="twitter:description" content=" Personal Projects Section">
        <meta name="twitter:image" content="https://pbs.twimg.com/profile_images/1366311960468332546/EidYygUt_400x400.jpg">
        <meta name="twitter:card" content="summary_large_image">
        <meta property="og:title" content="Praveen Chaudhary - a Full Stack Developer" />
        <meta property="og:url" content="https://www.linkedin.com/in/chaudharypraveen98/" />
        <meta property="og:description" content="This is the personal portfolio page which contains all the projects. I am a Full Stack Developer, Rest Api Developer, Data Analsyt" />
        <meta property="og:image" content="https://media-exp1.licdn.com/dms/image/C5603AQHRamUaMrdA9g/profile-displayphoto-shrink_400_400/0/1597315489941?e=1629936000&v=beta&t=GjvQu_r0n3F2EtGkaRYSF6pH8vRdgx5lsD1-w8dc8gY" />
        <meta property="og:type" content="Portfolio.Projects" />
        <link rel="shortcut icon" href="./../favicon.ico" type="image/x-icon">
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.15.3/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="css/styles.css" rel="stylesheet" />
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light" id="mainNav">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="index.html">Parco</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ms-auto py-4 py-lg-0">
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="index.html">Home</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="https://chaudharypraveen98.github.io/about.html">About</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="https://chaudharypraveen98.github.io/project-preview/">Latest Works</a></li>
                        <li class="nav-item"><a class="nav-link px-lg-3 py-3 py-lg-4" href="https://chaudharypraveen98.github.io/contact.html">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('assets/img/post-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="post-heading">
                            <h1>Parco</h1>
                            <h2 class="subheading">A parking solution built on Django with the google APIs such as JavaScript map API ,distance and places API.</h2>
                            <span class="meta">
                                Posted by
                                <a href="https://github.com/chaudharypraveen98">Praveen Chaudhary</a>
                                on 29 September 2020
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Post Content-->
        <article class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <h3>Topics -> googleapi, django, python, html, css, javascript, jquery, webdevelopment</h3>
                        <h5>Preview Link -> <u><a href="https://drive.google.com/file/d/1qldZHgiE9xDCtJZXJ7RcH5DsaE2xh1w2/preview">Parco</a></u></h5>
                        <h5>Source Code Link -> <u><a href="https://github.com/chaudharypraveen98/Parco">GitHub</a></u></h5>
                        <iframe src="https://drive.google.com/file/d/1qldZHgiE9xDCtJZXJ7RcH5DsaE2xh1w2/preview" width="640" height="480" allow="autoplay"></iframe>
                        
                        <p><strong>What We are going to do?</strong></p>
                        <ol>
                            <li>Starting the Django Project</li>
                            <li>Creating a booking app within the smart_parking Project</li>
                            <li>Create a Album and Song model in booking/models.py</li>
                            <li>Importing booking data from json file using  Django Extensions</li>
                            <li>Writing GraphQL queries and schema</li>
                            <li>Creating a view for handling the request made from the client</li>
                            <li>Adding function handlers to routes</li>
                            <li>Creating a Template for displaying the song data on the page</li>
                            <li>Fetching data using ajax into templates</li>
                        </ol>
                        <p><h3>Understanding Some Important Concepts</h3></p>
                        <p><strong>What is Django Framework?</strong></p>
                        <p>Django is a Python-based free and open-source web framework that follows the model–template–views architectural pattern.</p>
                        <p><b>Top Features of Django Framework</b></p>
                        <ul>
                            <li>Excellent Documentation</li>
                            <li>SEO Optimized</li>
                            <li>High Scalability</li>
                            <li>Versatile in Nature</li>
                            <li>Offers High Security</li>
                            <li>Provides Rapid Development</li>
                        </ul>


                        
                        <h2 class="section-heading">Step 1 => Starting the Django Project</h2>
                        <p>Initialize a Django project by following command. <b>Python</b> must be installed on your system.</p>
                        <pre>
pip install Django
</pre>
                        <p>You can confirm the installation by checking the django version by following command</p>
                        <pre>
python -m django --version
                        </pre>
                        <p><b>Starting the Project</b></p>
                        <pre>
django-admin startproject smart_parking
                        </pre>
                        <p>You get the project structure like this</p>
                        <pre>
smart_parking/
    manage.py
    smart_parking/
        __init__.py
        settings.py
        urls.py
        asgi.py
        wsgi.py
                        </pre>



                        <h2 class="section-heading">Step 2 -> Creating a booking app within the smart_parking Project</h2>
                        <p><strong>What is a Django App?</strong></p>
                        <p>An app is a Web application that does something – e.g., a Weblog system, a database of public records or a small poll app.</p> 
                        <p>A project is a collection of configuration and apps for a particular website. A project can contain multiple apps. An app can be in multiple projects.</p>
                        <p>Creating the booking app</p>
                        <pre>
python manage.py startapp booking
                        </pre>
                        <p>That’ll create a directory booking, which is laid out like this:</p>
                        <pre>
booking/
    __init__.py
    admin.py
    apps.py
    migrations/
        __init__.py
    models.py
    tests.py
    views.py
</pre>
                        <p><strong>Including your app and libraries in project</strong></p>
                        <pre>
INSTALLED_APPS = [
    'django.contrib.admin',
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.messages',
    'django.contrib.staticfiles',

    # our main reusable components
    'booking.apps.BookingConfig',

    # for API
    'rest_framework'
]
                        </pre>

                        <p><strong>Making migrations</strong></p>
                        <p>Once the model is defined, the django will automatically take schemas and table according to the fields supplied in the django model.</p>
                        <pre>
python manage.py makemigrations
python manage.py migrate
                        </pre>



                        <h2 class="section-heading">Step 3 -> Create a Booking and Slot model in booking/models.py</h2>
                        <p><strong>What is a Django Model?</strong></p>
                        <p>A model is the single, definitive source of truth about your data. It contains the essential fields and behaviors of the data you’re storing. Django follows the DRY Principle.</p> 
                        <p>The goal is to define your data model in one place and automatically derive things from it.</p>
                        <p>Let's create a Django Model.</p>
                        <p>A database contains a number of variable which are represented by fields in django model.Each field is represented by an instance of a Field class – e.g., CharField for character fields and DateTimeField for datetimes. This tells Django what type of data each field holds.</p>
                        <pre>
from django.db import models


# Create your models here.
class Slot(models.Model):
    slot_id = models.CharField(primary_key=True, max_length=15)
    slot_title = models.CharField(max_length=40)
    slot_lag = models.FloatField()
    slot_long = models.FloatField()
    slot_charges = models.IntegerField()

    def __str__(self):
        return self.slot_id + str(self.slot_charges)


class Booking(models.Model):
    slot_no = models.ForeignKey(Slot, on_delete=models.CASCADE)
    booking_id = models.CharField(unique=True, null=True,max_length=15)
    cost = models.IntegerField()
    duration = models.IntegerField()
    start_timing = models.DateTimeField()
    end_timing = models.DateTimeField(blank=True,null=True)
    email = models.EmailField(blank=False)

    def __str__(self):
        return self.slot_no.slot_id + str(self.duration) + "hours"
                        </pre>
                        <p>Here, We have used the one to many relationship between the booking and Slot as there can be many booking for Slot.</p>
                        
                        <p><strong>Adding models to admin panel</strong></p>
                        <p>Django provides built-in admin panel to manage the data into model</p>
                        <pre>
from django.contrib import admin

from .models import Slot, Booking

# Register your models here.

admin.site.register(Slot),
admin.site.register(Booking)

                        </pre>

                        <h2 class="section-heading">Step 4 -> Writing serializers for companies model data</h2>
                        <h3>What are Serializers?</h3>
                        <p>Serializers allow complex data such as querysets and model instances to be converted to native Python datatypes that can then be easily rendered into JSON, XML or other content types. Serializers also provide deserialization, allowing parsed data to be converted back into complex types, after first validating the incoming data.</p>
                        <p><strong>We are using Model Serializer. But Why?</strong></p>
                        <p>The <tt>ModelSerializer</tt> class provides a shortcut that lets you automatically create a <tt>Serializer</tt> class with fields that correspond to the Model fields.</p>
                        <p><strong>The <tt>ModelSerializer</tt> class is the same as a regular <tt>Serializer</tt> class, except that</strong>:</p>
                        <ul>
                            <li>It will automatically generate a set of fields for you, based on the model.</li>
                            <li>It will automatically generate validators for the serializer, such as unique_together validators.</li>
                            <li>It includes simple default implementations of <tt>.create()</tt> and <tt>.update()</tt>.</li>
                        </ul>
                        <pre>
from django.contrib.admin import widgets
from django.contrib.auth import authenticate
from django.contrib.auth.models import User
from django.forms import ModelForm
from rest_framework import serializers, exceptions

from booking.models import Booking


class UserSerializer(serializers.ModelSerializer):
    class Meta:
        model = User
        fields = ('username', 'password')
        extra_kwargs = {'password': {'write_only': True}}

    def create(self, validated_data):
        user = User.objects.create_user(validated_data['username'], validated_data['email'], validated_data['password'])

        return user


class LoginSerializer(serializers.Serializer):
    username = serializers.CharField()
    password = serializers.CharField()

    def validate(self, data):
        username = data.get("username", "")
        password = data.get("password", "")
        print("hey")

        if username and password:
            user = authenticate(username=username, password=password)
            if user:
                if user.is_active:
                    data["user"] = user
                else:
                    msg = "user is inactive"
                    raise exceptions.ValidationError(msg)
            else:
                msg = "Wrong credentials"
                raise exceptions.ValidationError(msg)
        else:
            msg = "Must provide username and password both"
            raise exceptions.ValidationError(msg)
        return data


class BookingForm(ModelForm):
    class Meta:
        model = Booking
        fields = "__all__"
        exclude =('end_timing',)
                        </pre>

                        <p>Here we are using <b>ModelSerializer</b> for User model and BookingForm and <b>Default Serializer</b> for Login authentication</p>
                        <p><b>Default Serializer</b> has a built-in validate function for validating the data entered</p>

                        <h2 class="section-heading">Step 5 -> Building form to authenticate the user.</h2>
                        <pre>
from django import forms


class LoginForm(forms.Form):
    username = forms.CharField(max_length=100)
    password = forms.CharField(widget=forms.PasswordInput)
                        </pre>

                        <h2 class="section-heading">Step 6 -> Creating a view for handling the request made from the client.</h2>
                        <p><strong>What is a Django View?</strong></p>
                        <p>A view function, or view for short, is a Python function that takes a Web request and returns a Web response. </p>
                        
                        <p><strong>Importing required models,functions and libraries</strong></p>
                        <pre>
from datetime import timedelta
from django.contrib.auth.models import User
from django.contrib import messages
from django.contrib.auth import authenticate, login
from django.core.mail import send_mail
from django.shortcuts import render, redirect
from django.views.generic import FormView
from rest_framework.response import Response
from rest_framework.views import APIView

from smart_parking.settings import EMAIL_HOST_USER
from .login import LoginForm
from .serializers import UserSerializer, LoginSerializer, BookingForm
</pre>
<p><strong>Contact Page handler</strong></p>
<pre>
def contact(request):
    return render(request, "booking/contact.html")
</pre>
<p><strong>Creating Booking Form</strong></p>
<p>What's going here?</p>
<ol>
    <li>Once the user request the booking form via get request, then <tt>get</tt> function manages the request</li>
    <li>After filling the details, the form is send to <tt>post</tt> function handler in the Form view</li>
</ol>
<p><tt>Get</tt> and <tt>Post</tt> are the built-in function of FormView class.</p>
<pre>
class CreateBooking(FormView):
    template_name = "booking/dashboard.html"
    form_class = BookingForm

    def get(self, request):
        form = self.form_class(None)
        return render(request, self.template_name, {"form": form})

    def post(self, request, *args, **kwargs):
        form = self.form_class(request.POST)
        if form.is_valid():
            booking = form.save(self, commit=False)
            booking.booking_id = "PARK" + booking.start_timing.strftime("%d%b%Y%H%M")
            print(booking.booking_id)
            booking.end_timing = booking.start_timing + timedelta(hours=booking.duration)
            msg = f"Thank you for booking with us. Your booking id "
            send_mail(msg, EMAIL_HOST_USER, [booking.email], fail_silently=False)
            messages.success(request, 'Form submission successful')
            booking.save()
</pre>
<p><strong>Serving the homepage</strong></p>
<pre>
def index(request):
    return render(request, "booking/index.html")
</pre>

<p><strong>Signup Handler</strong></p>
<p>Once the user filled the form and posted the data for registering, then the <tt>post</tt> function of the APIView is responsible for handling it.</p>
<pre>
class SignUp(APIView):
    serializer_class = UserSerializer

    def post(self, request, *args, **kwargs):
        serializer = UserSerializer(data=request.data)
        serializer.is_valid(raise_exception=True)
        user = serializer.save()
        # return Response(({"user": UserSerializer(user, context=self.get_serializer_context()).data,}))
        return Response({"msg": "successfully created"})
</pre>

<p><strong>Login Handler</strong></p>
<p>It will manage the authentication of the user.</p>
<pre>
class LoginView(FormView):
    form_class = LoginForm
    template_name = "booking/login.html"

    def get(self, request):
        form = self.form_class(None)
        return render(request, self.template_name, {"form": form})

    def post(self, request):
        form = self.form_class(request.POST)
        if form.is_valid():
            username = form.cleaned_data['username']
            password = form.cleaned_data['password']
            user = authenticate(username=username, password=password)
            us = user.username
            print("---------", us)
            if user is not None:
                login(request, user)
                return redirect('booking:create')
                # return render(request, 'booking/dashboard.html', {"user": user})
                # return HttpResponse(json.dumps(user), content_type="application/json")
                # return JsonResponse(us, safe=False)
        return render(request, self.template_name, {"form": form})
</pre>

                        <p>We are using Django <tt>render</tt> in-built function.</p>
                        <p>The <tt>render()</tt>  function takes the request object as its first argument, a template name as its second argument and a dictionary as its optional third argument. It returns an <tt>HttpResponse</tt> object of the given template rendered with the given context.</p>
                        


                        <h2 class="section-heading">Step 7 -> Adding function handlers to routes.(smart_parking/urls.py)</h2>
                        <p>Whenever user visit the user, a function is called in view which takes care of response.</p>
                        <pre>
from django.contrib import admin
from django.urls import include, path

urlpatterns = [
    path("admin/", admin.site.urls),
    path("", include("booking.urls")),
]
                        </pre>

                        <p><b>Adding sub path for booking app</b></p>
                        <p>It defines the particular path for booking app</p>
                        <pre>
from django.conf.urls import url
from django.urls import path

from . import views

app_name = "booking"

urlpatterns = [
    url(r'^login/$', views.LoginView.as_view(), name='login'),
    path("", views.index, name="index"),
    path("contact/", views.contact, name="contact"),
    path("create/", views.CreateBooking.as_view(), name="create"),
    path("api/login/", views.LoginApi.as_view(), name="api-login"),
    path("api/signup/", views.SignUp.as_view(), name="api-signup"),
]
                        </pre>

                        <h2 class="section-heading">Step 8 -> Managing the state of Slots.(smart_parking/booking/static/booking/js/firebase.js)</h2>
                        <p>We are using the Firebase database to store the status of the slots in the parking area.</p>
                        <pre>
var firebaseConfig = {
    apiKey: "",
    authDomain: "",
    databaseURL: ",
    projectId: "",
    storageBucket: "",
    messagingSenderId: "",
    appId: "",
    measurementId: ""
    };
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    
    $(document).ready(function(){
    let database = firebase.database();
    let slot1;
    let slot2;
    let slot3;
    let slot4;
    
    database.ref().on("value", function(snap){
        slot1 = snap.val().slot1;
        slot2 = snap.val().slot2;
        slot3 = snap.val().slot3;
        slot4 = snap.val().slot4;
        console.log(slot1);
    
        {if(slot1 ==="free"){
        console.log("free");
        insertSlot("slot1");
        } else {
        console.log("occupied");
        removeSlot("slot1");
        }}
        {if(slot2 ==="free"){
        console.log("free");
        insertSlot("slot2");
        } else {
        console.log("occupied");
        removeSlot("slot2");
        }}
        {if(slot3 ==="free"){
        console.log("free");
        insertSlot("slot3");
        } else {
        console.log("occupied");
        removeSlot("slot3");
        }}
        {if(slot4 ==="free"){
        console.log("free");
        insertSlot("slot4");
        } else {
        console.log("occupied");
        removeSlot("slot4");
        }}
    });
    let insertSlot=function (param){
        console.log(param)
        $('#id-slot').append(
        $('&lt;option&gt;').prop({
            id: param,
            innerHTML: "slot1 activated",
            name: param,
        })
        );
    };
    let removeSlot=function (param){
        $(`#${param}`).remove()
    };
    });
                        </pre>


                        <h2 class="section-heading">Step 9 -> Creating a Template for displaying the song data on the page</h2>
                        <p>We are using the jinja templating engine for displaying the data.</p>
                        <pre>
                            {% extends "booking/base.html" %}
{% load static %}

{% block css %}
    &lt;link rel="{% static "booking/css/jquery.datetimepicker.css" %}"&gt;
{% endblock %}

{% block body %}
    &lt;section class="breadcumb-area bg-img bg-overlay contact-bg" id="contact-bg2"&gt;
        &lt;div class="bradcumbContent"&gt;
            &lt;p&gt;User Dashboard&lt;/p&gt;
            &lt;h2&gt;Welcome {{ user }}&lt;/h2&gt;
        &lt;/div&gt;
    &lt;/section&gt;
    &lt;div id="button-layer"&gt;
        &lt;button id="btnAction"  class="btn btn-primary" onClick="locate()"&gt;Click to see slots&lt;/button&gt;
    &lt;/div&gt;

    &lt;div class="booking-form"&gt;
        &lt;form enctype="multipart/form-data" method="post" class="form-control"&gt;
            &lt;div class="flex-container"&gt;
                {% csrf_token %}
                {% include 'booking/bookingForm.html' %}
                &lt;div class="form-group"&gt;
                    &lt;label for="id-slot"&gt;Select Parking Slot&lt;/label&gt;
                    &lt;select id="id-slot" name="slot-id"&gt;
                    &lt;/select&gt;
                &lt;/div&gt;
                &lt;div class="form-group"&gt;
                    &lt;button type="submit" class="btn btn-success" value="Submit"&gt;Submit&lt;/button&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/form&gt;
    &lt;/div&gt;

    &lt;select id="end"&gt;
        &lt;option value="28.445323,77.315779"&gt;Pristine Mall, sector 31&lt;/option&gt;
        &lt;option value="28.444657,77.319635"&gt;Community Center, Sector 31&lt;/option&gt;
        &lt;option value="28.448644,77.308221"&gt;Metro Parking&lt;/option&gt;
    &lt;/select&gt;
    &lt;div id="map"&gt;&lt;/div&gt;


    &lt;!-- add their the user dasbhboard and the above is user varibale --&gt;

{% endblock %}
</pre>
<p><strong>Integrating the maps and routes in template using the google api</strong></p>
<pre>
{% block script %}
    &lt;script type="text/javascript"&gt;
        let map;
        let directionsService;
        let directionsDisplay;
        let currentLatitude;
        let currentLongitude;


        function initMap() {
            let mapLayer = document.getElementById("map");
            let directionsService = new google.maps.DirectionsService;
            let directionsDisplay = new google.maps.DirectionsRenderer;
            const centerCoordinates = new google.maps.LatLng( 28.449349, 77.315725);
            let defaultOptions = {center: centerCoordinates, zoom: 14};
            map = new google.maps.Map(mapLayer, defaultOptions);
            directionsDisplay.setMap(map);
            function calculateAndDisplayRoute(directionsService, directionsDisplay) {
                let element=document.getElementById('end').value.split(",");
                let lat=parseFloat(element[0]);
                let long=parseFloat(element[1]);
                directionsService.route({
                  origin: new google.maps.LatLng(currentLatitude, currentLongitude),
                  destination: new google.maps.LatLng(lat,long ),
                  travelMode: 'DRIVING'
                },
                    function(response, status) {
                        if (status === 'OK') {
                            directionsDisplay.setDirections(response);
                        } else {
                            window.alert('Directions request failed due to ' + status);
                        }
                    });
            }

            let onChangeHandler = function () {
                calculateAndDisplayRoute(directionsService, directionsDisplay);
            };
            document.getElementById('end').addEventListener('change', onChangeHandler);
        }

        function addMarker(coords) {
            let marker = new google.maps.Marker({
                position: coords,
                map: map,
            });
        }

        function personMarker(coords) {
            console.log("new person marker")
            let marker = new google.maps.Marker({
                position: coords,
                map: map,
                icon:"{% static "booking/images/pin.ico" %}",
            });
        }
        function locate(){
            document.getElementById("btnAction").disabled = true;
            document.getElementById("btnAction").innerHTML = "Processing...";
            if ("geolocation" in navigator){
                navigator.geolocation.getCurrentPosition(function(position){
                    //currentLatitude = position.coords.latitude;
                    //currentLongitude = position.coords.longitude;
                    currentLatitude= 28.449261;
                    currentLongitude= 77.315584;
                    addMarker({lat:  28.445323, lng: 77.315779});
                    addMarker({lat:  28.444657, lng: 77.319635});
                    addMarker({lat:  28.448644, lng: 77.308221});
                    personMarker({lat: currentLatitude, lng: currentLongitude});
                    document.getElementById("btnAction").style.display = 'none';
                });
            }
        }

    &lt;/script&gt;
    &lt;script src="https://www.gstatic.com/firebasejs/7.2.1/firebase-app.js"&gt;&lt;/script&gt;
    &lt;script src="https://www.gstatic.com/firebasejs/3.1.0/firebase-database.js"&gt;&lt;/script&gt;
    &lt;script src="{% static 'booking/js/firebase.js' %}"&gt;&lt;/script&gt;
    &lt;script src="{% static "booking/js/moment.js" %}"&gt;&lt;/script&gt;
    &lt;script src="{% static "booking/js/jquery.datetimepicker.js" %}"&gt;&lt;/script&gt;
    &lt;script type="text/javascript"&gt;
    $(function (){
        $("#id_start_timing").datetimepicker();
    });
    &lt;/script&gt;
    {% comment %}
    &lt;script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD9v4wGnOfvPj5hFvT9RFHr51RHh3VhzxE
        &callback=initMap" async defer&gt;
    &lt;/script&gt;
    {% endcomment %}

{% endblock %}
                        </pre>

                        <p><strong>Add Some styles to make it attractive</strong></p>


                        

                        <h2 class="section-heading">Web Preview / Output</h2>
                        <a href="https://raw.githubusercontent.com/chaudharypraveen98/Parco/master/output.JPG"><img class="img-fluid" src="https://raw.githubusercontent.com/chaudharypraveen98/Parco/master/output.JPG" alt="web preview" /></a>
                        <span class="caption text-muted">Web preview on deployment</span>
                        <p>
                            Placeholder text by
                            <a href="https://chaudharypraveen98.github.io/">Praveen Chaudhary</a>
                            &middot; Images by
                            <a href="hhttps://chaudharypraveen98.github.io/binarybeast/">Binary Beast</a>
                        </p>
                    </div>
                </div>
            </div>
        </article>
        <!-- Footer-->
        <footer class="border-top">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <ul class="list-inline text-center">
                            <li class="list-inline-item">
                                <a href="https://twitter.com/chaudhpraveen98">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://www.linkedin.com/in/chaudharypraveen98/">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                            <li class="list-inline-item">
                                <a href="https://github.com/chaudharypraveen98">
                                    <span class="fa-stack fa-lg">
                                        <i class="fas fa-circle fa-stack-2x"></i>
                                        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <div class="small text-center text-muted fst-italic">Copyright &copy; Praveen Chaudhary 2021</div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
