body{
    background-image: linear-gradient(135deg, rgba(98, 138, 224, 0.46) 0%, rgba(98, 138, 224, 0.46) 14.286%,rgba(107, 116, 201, 0.46) 14.286%, rgba(107, 116, 201, 0.46) 28.572%,rgba(115, 94, 178, 0.46) 28.572%, rgba(115, 94, 178, 0.46) 42.858%,rgba(124, 73, 156, 0.46) 42.858%, rgba(124, 73, 156, 0.46) 57.144%,rgba(133, 51, 133, 0.46) 57.144%, rgba(133, 51, 133, 0.46) 71.43%,rgba(141, 29, 110, 0.46) 71.43%, rgba(141, 29, 110, 0.46) 85.716%,rgba(150, 7, 87, 0.46) 85.716%, rgba(150, 7, 87, 0.46) 100.002%),linear-gradient(45deg, rgb(60, 13, 119) 0%, rgb(60, 13, 119) 14.286%,rgb(50, 25, 138) 14.286%, rgb(50, 25, 138) 28.572%,rgb(41, 36, 156) 28.572%, rgb(41, 36, 156) 42.858%,rgb(31, 48, 175) 42.858%, rgb(31, 48, 175) 57.144%,rgb(21, 59, 194) 57.144%, rgb(21, 59, 194) 71.43%,rgb(12, 71, 212) 71.43%, rgb(12, 71, 212) 85.716%,rgb(2, 82, 231) 85.716%, rgb(2, 82, 231) 100.002%);
    background-repeat: no-repeat;
    min-height: 100vh;
}
.flex-container{
    display: flex;
    flex-direction: column;
    background-color: #482ff7;
    justify-content: center;
    align-items: center;
}

.flex-container div{
    height: 20px;
    width: 200px;
    text-align: center;
    margin: 1%;
    padding:15px 20px;
    font-size: 18px;
    border-radius:45px;
    background:rgba(255,255,255,.1);
    font-weight: 400;
}

.flex-container div:nth-of-type(even)
{
    background-color: #2d6cdf;
    color: white;
}
.flex-container div:nth-of-type(odd)
{
    background-color: #46c3db;
}

form {
    display: inline-block;
}
.form-group {
    text-align: center;
    padding-bottom: 25px;
}
#todo {
    margin: 0 auto;
    width: 500px;
}
.grocery-add>input, .add-button{
    border-style: none;
    outline: none;
    border-radius:25px;
    padding:12px 16px;
    background:rgba(255,255,255,.9);
}
a.close {
    float: right;
    color: white;
}

/* Underline From Center */
.hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-center:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #f3f169;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.7s;
    transition-duration: 0.7s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
    left: 0 !important;
    right: 0 !important;
}